<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
</head>
<body>
    <h1>Practice: Display some Primarchs</h1>
    <h2>
        <span>VII: <th:block th:text="${primarchNumber7}">[primarchNumber7]</th:block></span></br>
        <span>I: <th:block th:text="${primarchNumber1}">[primarchNumber1]</th:block></span></br>
        <span>VIII: <th:block th:text="${primarchNumber8}">[primarchNumber8]</th:block></span></br>

    </h2>
</body>
</html>